@import url("https://fonts.googleapis.com/css?family=Nunito|PT+Sans|Quicksand|Oxygen");
/* Variables */
:root { --light-blue: #85939f; --green: #02baab; --white: white; --grey: #3b4954; --black: black; --dark-grey: #313131; --steel-gray: #85939f; --font-size-xs: 10px; --font-size-sm: 12px; --font-size-md: 18px; --font-size-l: 22px; --font-size-xl: 30px; --font-size-xxl: 36px; --font-size-xxxl: 45px; }

/* Content */
* { box-sizing: border-box; padding: 0; margin: 0; }

body { font-family: "Quicksand"; margin: 0 auto; }

.container { width: 100%; max-width: 930px; }

/* Login section */
.topnav { background-color: var(--black); z-index: 1; }

.topnav-fa-search { color: var(--light-blue); background-color: var(--black); }

.topnav-search-input { background-color: var(--black); border: 0.5px solid var(--light-blue); }

.topnav-btn { background-color: var(--black); height: 48px; color: var(--light-blue); letter-spacing: 1px; }

.topnav-container { display: -ms-flexbox; display: flex; }

.topnav-fa { font-size: 14px; }

.topnav-search-form { height: 28px; width: 210px; }

.login-text { line-height: 40px; }

/* Menu section */
.menu-button-input[type="checkbox"] + label { font-size: 35px; cursor: pointer; }

.menu-button-input, .menu-button-label { display: none; }

.menu-flex { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; margin: 0; }

nav { background-color: rgba(49, 49, 49, 0.05); text-align: center; position: fixed; top: 48px; left: 0; right: 0; z-index: 1; transition: background-color 0.5s; }

.scroll-nav { transition: background-color 0.5s; background-color: black; z-index: 9999; position: fixed; top: 0; left: 0; right: 0; }

.nav-list { display: -ms-flexbox; display: flex; list-style-type: none; -ms-flex-align: center; align-items: center; padding-left: 25px; }

.menu-container { display: -ms-flexbox; display: flex; }

.nav-list-img { margin-right: 70px; margin-left: -30px; }

.nav-list-item { text-align: center; transition: all 0.4s linear; height: 60px; width: 110px; }

.nav-list-item:hover { background-color: rgba(88, 88, 88, 0.6); cursor: pointer; z-index: 3; }

.nav-list-item:before { content: ""; display: inline-block; vertical-align: top; width: 110px; }

.nav-list-item > a { text-decoration: none; color: var(--white); }

.nav-list-link { font-size: var(--font-size-sm); line-height: 30px; text-transform: uppercase; }

.nav-list-dropdown { display: none; position: absolute; width: 150px; margin-top: 10px; }

.nav-list-dropdown > li { display: block; text-transform: uppercase; background-color: rgba(88, 88, 88, 0.45); transition: all 0.4s linear; }

.nav-list-dropdown > li:hover { background-color: rgba(88, 88, 88, 0.6); cursor: pointer; z-index: 3; }

.nav-list-dropdown > li > a { text-align: center; text-decoration: none; text-transform: uppercase; color: var(--white); font-size: var(--font-size-sm); line-height: 50px; }

.nav-dropdown:hover > ul { display: block; width: 109px; padding: 0; position: absolute; text-align: center; }

.dropdown-menu-link { width: 200px; }

.color-bar-1:before { border-top: 10px solid #ffae00; }

.color-bar-2:before { border-top: 10px solid #fc7100; }

.color-bar-3:before { border-top: 10px solid #e51c5e; }

.color-bar-4:before { border-top: 10px solid #ae0f8d; }

.color-bar-5:before { border-top: 10px solid #6d0fae; }

.color-bar-6:before { border-top: 10px solid #33227a; }

.color-bar-7:before { border-top: 10px solid #0c8fcc; }

.container { padding: 0; }

/* Carousel section */
.carousel { height: calc(100vh - 50px); margin-top: 0px; overflow: hidden; }

.carousel-img { margin: auto; width: 100%; height: 100%; }

.carousel-caption { margin-bottom: 20vw; }

.carousel-caption-up { color: var(--green); text-transform: uppercase; font-size: 3vw; }

.carousel-caption-down { color: var(--white); text-transform: uppercase; font-size: 3vw; }

.btn-carousel-caption { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 140px; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; margin: 5vh 1vw; }

.btn-carousel-caption:hover { transform: scale(1.1); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }

.btn-features { background-color: var(--green); color: var(--white); }

.btn-features:hover { color: var(--white); }

.text { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; height: 400px; margin-top: 20px; }

.text-text-header { text-align: center; font-size: var(--font-size-xxl); }

.text-text-header:after { content: ""; display: block; width: 50px; border: 5px solid #eeeeee; margin: 30px auto; }

.text-paragraph-item { text-align: center; font-size: var(--font-size-md); padding: 20px 10px; }

.text-button { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.text-purchase-button { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 140px; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.text-purchase-button:hover { transform: scale(1.1); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }

.portfolio { height: 95%; background-size: cover; }

.portfolio-text { text-align: center; }

.portfolio-text-header { font-size: var(--font-size-xxl); margin-top: 100px; }

.portfolio-text-header:after { content: ""; display: block; width: 50px; border: 5px solid var(--grey); margin: 30px auto; }

.portfolio-text-paragraph { font-size: var(--font-size-md); padding: 20px 10px; }

.portfolio-gallery { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 30px; background-color: transparent; margin-bottom: 30px; }

.portfolio-gallery-item { padding: 125px; transition: all 0.3s linear; }

.portfolio-gallery-item:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 0 4px black; }

.portfolio-gallery-item:hover .fa-gallery { color: #02baad; cursor: pointer; }

.portfolio-gallery-1 { background-image: url("https://images.unsplash.com/photo-1517758344467-7043e91d33cd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0d8d226141a9dcc6ad61c6add3dcd09&auto=format&fit=crop&w=1350&q=80"); background-position: center; }

.portfolio-gallery-2 { background-image: url("https://images.unsplash.com/photo-1510280735181-e2708469ac80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b05164d44b56e552cdebc0548ca64d53&auto=format&fit=crop&w=634&q=80"); background-position: center; }

.portfolio-gallery-3 { background-image: url("https://images.unsplash.com/photo-1505816328275-34db3b7cef14?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8ba0e71a8307fc17aea75cf4234b0fd1&auto=format&fit=crop&w=1350&q=80"); background-position: center; }

.fa-gallery { font-size: 22px; color: rgba(2, 186, 173, 0); margin-top: 13px; }

.textblock { background-color: var(--green); }

.textblock-text { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; margin: 15px auto; }

.textblock-text-paragraph { color: var(--white); font-size: var(--font-size-l); line-height: 80px; }

.textblock-text-button { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 140px; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; border-color: var(--white); color: var(--white); }

.textblock-text-button:hover { transform: scale(1.1); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }

.textblock-text-button:hover { color: var(--white); }

.features { margin-bottom: 80px; }

.features-text-header { margin-top: 80px; text-align: center; font-size: var(--font-size-xxl); color: var(--grey); }

.features-text-header:after { content: ""; display: block; width: 50px; border: 5px solid #eeeeee; margin: 30px auto; }

.features-grid-header { font-size: 24px; }

.features-grid-header-text { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.features-grid-fa { font-size: 38px; color: var(--green); display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.features-grid-paragraph { font-size: 14px; text-align: justify; }

.features-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto; grid-template-columns: auto auto; grid-gap: 20px; }

.features-grid-item { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.quote { height: 450px; background-image: url("https://images.unsplash.com/photo-1517921076612-169b401c825e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=258e16870e34fec6453958c591aad8d0&auto=format&fit=crop&w=1050&q=80"); background-size: cover; background-position: center; }

.fa-quote-right { display: block; font-size: var(--font-size-xxxl); color: var(--green); text-align: center; margin-top: 10%; }

.carousel-text { text-align: center; font-size: var(--font-size-xl); color: var(--grey); }

.quote-author { text-transform: uppercase; color: var(--green); font-weight: 700; text-align: center; margin-top: 20px; }

#carousel { margin: 0 auto; margin-top: 50px; height: 200px; width: 90%; overflow: hidden; }

.carousel-list { margin: 0; padding: 0; width: 4600px; }

.carousel-list-item { list-style-type: none; width: 820px; float: left; }

.blog { height: 100vh; }

.blog-text-header { font-size: var(--font-size-xxl); margin-top: 100px; color: var(--grey); text-align: center; }

.blog-text-header:after { content: ""; display: block; width: 50px; border: 5px solid #eeeeee; margin: 30px auto; margin-bottom: 50px; }

.blog-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto; grid-template-columns: auto auto auto; grid-gap: 30px; }

.blog-grid-item { height: 220px; width: 290px; background-size: cover; background-position: center; }

.blog-grid-item-1 { background-image: url("https://images.unsplash.com/photo-1460937379546-21d4d4186dbd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66ac88dd15fbc93553fd6cc38455208a&auto=format&fit=crop&w=1050&q=80"); }

.blog-grid-item-2 { background-image: url("https://images.unsplash.com/photo-1493161151130-0e15873c50c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ba33605395d6bf971116419454b65663&auto=format&fit=crop&w=1716&q=80"); }

.blog-grid-item-3 { background-image: url("https://images.unsplash.com/photo-1489010229619-ba917ca75744?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b20ad2a563a6f9ba721fdbbdfc5e09c0&auto=format&fit=crop&w=1051&q=80"); }

.blog-grid-item-header { color: var(--green); font-size: 24px; position: relative; top: 230px; left: 0; }

.blog-grid-item-paragraph { position: relative; top: 240px; }

.blog-grid-item-paragraph:after { content: ""; display: block; border: 1px solid var(--grey); position: relative; top: 60px; }

.blog-grid-item-link { position: relative; top: 30px; }

.blog-grid-item a { text-decoration: none; }

.fa-comments { position: relative; top: 30px; left: 110px; color: var(--green); font-size: 120%; }

.experience { height: 660px; background-color: var(--green); }

.experience-text-header { text-align: center; margin-top: 100px; color: var(--white); font-size: var(--font-size-xxl); }

.experience-text-header:after { content: ""; display: block; width: 50px; border: 5px solid var(--white); margin: 30px auto; margin-bottom: 50px; }

.experience-btn { height: 210px; width: 210px; border: 5px solid; border-color: white white white transparent; border-radius: 50%; background-color: transparent; }

.experience-btn:hover { cursor: default; }

.experience-icon { font-size: 60px; }

.experience-dots { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; margin-top: -90px; }

.experience-dot { height: 7px; width: 7px; border: none; background-color: var(--white); border-radius: 50%; margin: 7px; }

.experience-flex { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.experience-item { text-align: center; }

.experience-grid-item-header, .experience-grid-item-text { color: var(--white); }

.experience-grid-item-header { font-size: var(--font-size-xxl); }

.experience-grid-item-text { font-size: var(--font-size-md); }

.team { height: 100%; }

.team-text-header { text-align: center; font-size: var(--font-size-xxl); color: var(--grey); margin-top: 100px; margin-bottom: 30px; }

.team-text-header:after { content: ""; display: block; width: 50px; border: 5px solid #eeeeee; margin: 20px auto; margin-bottom: 50px; }

.team-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 30px; margin-top: 50px; margin-bottom: 100px; }

.team-grid-item { padding: 130px 31px; margin-bottom: 50px; }

.team-grid-item-1 { background-image: url("https://images.pexels.com/photos/274595/pexels-photo-274595.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); background-size: contain; background-position: center; background-repeat: no-repeat; }

.team-grid-item-2 { background-image: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); background-size: contain; background-position: center; background-repeat: no-repeat; }

.team-grid-item-3 { background-image: url("https://images.pexels.com/photos/415326/pexels-photo-415326.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); background-size: contain; background-position: center; background-repeat: no-repeat; }

.team-grid-item-4 { background-image: url("https://images.pexels.com/photos/38554/girl-people-landscape-sun-38554.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); background-size: contain; background-position: center; background-repeat: no-repeat; }

.team-profile-btn { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 140px; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; position: relative; top: 145px; }

.team-profile-btn:hover { transform: scale(1.1); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }

.team-name { color: var(--green); }

.team-job { margin-top: -10px; text-align: center; color: var(--white); }

.team-about { text-align: justify; color: var(--white); }

.team-description { margin-bottom: -80px; background-size: cover; opacity: 0; }

#team-description-1 { opacity: 0; }

footer { height: 100%; background-color: #1f2a32; }

.footer-grid { display: -ms-grid; display: grid; -ms-grid-columns: auto auto auto auto; grid-template-columns: auto auto auto auto; grid-gap: 0px; }

.footer-grid-header { color: var(--white); font-size: var(--font-size-l); padding: 30px 0; }

.footer-grid-header:before { content: ""; display: inline-block; width: 232.5px; }

.footer-color-bar-1 { border-top: 15px solid #7827a9; margin-top: 0; }

.footer-color-bar-2 { border-top: 15px solid #0c8fcc; margin-top: 0; }

.footer-color-bar-3 { border-top: 15px solid #de1c5c; margin-top: 0; }

.footer-color-bar-4 { border-top: 15px solid #ffae00; margin-top: 0; }

.fa-footer { color: var(--green); }

.footer-bold { color: var(--white); font-weight: 400; }

.footer-paragraph { color: var(--steel-gray); }

.footer-bold, .footer-paragraph { line-height: 20px; font-size: var(--font-size-sm); }

.footer-text { margin-top: 25px; margin-right: 10px; }

.footer-social-btn { color: var(--white); height: 50px; width: 50px; border: none; margin-right: 18px; font-size: var(--font-size-l); }

.facebook-btn { background-color: #3b5998; }

.twitter-btn { background-color: #00a0d1; }

.youtube-btn { background-color: #c4302b; }

.instagram-btn { background-color: #825c48; }

.pinterest-btn { background-color: #a30834; }

.footer-post-header { font-size: var(--font-size-sm); }

.footer-bottom { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; color: var(--white); font-size: var(--font-size-sm); margin-top: 50px; }

.footer-bottom-btn { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 140px; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; font-weight: 100; text-transform: none; margin-bottom: 20px; }

.footer-bottom-btn:hover { transform: scale(1.1); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }

iframe { width: 210px; height: 150px; border: none; margin-top: 30px; }

@media (max-width: 1000px) { [class*="text-header"] { margin-top: 20px; }
  .topnav-login-container { display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; margin: auto; }
  .login-text { font-size: var(--font-size-xs); }
  .menu-flex { display: block; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: end; align-items: flex-end; }
  .menu-logo { float: left; }
  .menu-button-label { display: block; color: #fbfbfb; margin-right: 10px; }
  .menu-button-input:not(:checked) ~ ul { display: none; }
  .menu-button-input:checked ~ ul { display: block; }
  .menu-container { display: -ms-flexbox; display: flex; -ms-flex-align: end; align-items: flex-end; -ms-flex-direction: column; flex-direction: column; }
  .nav-list { width: 100%; padding: 0; margin: 0; }
  .nav-list-item { width: 100%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 43px; background-color: var(--black); }
  .nav-list-item:before { display: none; }
  .nav-list-dropdown { -ms-flex-direction: row; flex-direction: row; top: 400px; }
  .nav-list-link { font-size: var(--font-size-xs); }
  .carousel { height: 80%; }
  .carousel-caption { margin-bottom: 0; }
  .portfolio-gallery { -ms-grid-columns: auto; grid-template-columns: auto; }
  .portfolio-gallery-item:hover { transform: none; cursor: default; }
  .portfolio-gallery-layer { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }
  .fa-gallery { margin: 5px; }
  .team-grid, .footer-grid { -ms-grid-columns: auto auto; grid-template-columns: auto auto; }
  .team-grid { display: -ms-flexbox; display: flex; }
  .features-text-header { margin-top: 40px; }
  .blog { height: 100%; }
  .blog-grid { -ms-grid-columns: auto; grid-template-columns: auto; }
  .blog-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }
  .blog-grid-item-2, .blog-grid-item-3 { margin-top: 250px; }
  .blog-grid-item-3 { margin-bottom: 270px; }
  .blog-text-header { margin-top: 40px; }
  .experience-dots { display: none; }
  .experience { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }
  .footer-grid-header { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; padding: 20px; } }

@media (max-width: 830px) { [class*="text-header"] { font-size: var(--font-size-xl); margin-top: 20px; }
  .topnav-login-container { margin: auto; }
  .nav-list-item:before { display: none; }
  nav { text-align: right; padding-right: 0; margin: 0; }
  .menu-flex { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }
  .nav-list { margin: 0 auto; width: 100%; padding: 0; display: block; }
  .menu-logo { display: none; }
  .nav-list-item { width: 100%; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; background-color: var(--black); opacity: 0.7; }
  .dropdown-menu-link { background-color: var(--black); }
  .carousel { height: auto; }
  .btn-carousel-caption { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 100%; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; display: block; font-weight: 400; font-size: var(--font-size-md); margin: 1vh 1vh; }
  .btn-carousel-caption:hover { transform: scale(1.02); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }
  .btn-features { background-color: var(--green); color: var(--white); }
  .btn-features:hover { color: var(--white); }
  .text-header { margin-top: 10px; }
  .text-purchase-button { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 100%; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; }
  .text-purchase-button:hover { transform: scale(1.02); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }
  .portfolio-gallery { -ms-grid-columns: auto; grid-template-columns: auto; }
  .portfolio-gallery-item { margin-bottom: 20px; }
  .portfolio-text-header { margin-top: 40px; }
  .textblock-text-paragraph { line-height: 20px; font-size: var(--font-size-md); }
  .textblock-text-button { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 100%; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; border-color: var(--white); color: var(--white); }
  .textblock-text-button:hover { transform: scale(1.02); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }
  .textblock-text-button:hover { color: var(--white); }
  .textblock-text { display: block; }
  .features-grid { grid-gap: 5px; }
  .features-header { margin-top: 60px; }
  .features-grid-item { margin: 10px auto; text-align: center; }
  .features-grid-header { margin: 0 auto; }
  .features { height: 90%; }
  .blog { height: 100%; }
  .blog-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }
  .blog-header { margin-top: 40px; }
  .blog-grid, .portfolio-gallery, .features-grid { -ms-grid-columns: auto; grid-template-columns: auto; }
  .blog-grid-item-2, .blog-grid-item-3 { margin-top: 250px; }
  .blog-grid-item-3 { margin-bottom: 270px; }
  .experience { height: 100%; }
  .experience-flex { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }
  .experience-dots { display: none; }
  .experience-item { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; margin-bottom: 45px; }
  .experience-text-header { margin-top: 40px; }
  .team-grid { -ms-grid-columns: auto; grid-template-columns: auto; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; }
  .team-profile-btn { margin-bottom: 40px; }
  .team-text-header { margin-top: 70px; }
  .footer-grid { -ms-grid-columns: auto; grid-template-columns: auto; }
  .footer-bottom { margin-bottom: 20px; display: block; }
  .footer-bottom-btn { border: 2px solid var(--green); background-color: transparent; color: var(--green); width: 100%; height: 40px; text-transform: uppercase; font-size: var(--font-size-sm); font-weight: 700; transition: all 0.3s linear; }
  .footer-bottom-btn:hover { transform: scale(1.02); box-shadow: 0 0 6px var(--black); cursor: pointer; color: var(--green); }
  .footer-social-btn { margin-bottom: 10px; height: 30px; width: 30px; margin-top: 0; }
  .footer-grid-header { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; font-size: var(--font-size-md); padding: 20px; } }

@media (max-width: 390px) { .topnav-btn { margin: auto; padding: 0; }
  .portfolio-gallery-item { padding: 80px; }
  .topnav-fa-login { display: none; }
  .topnav-login-container { margin: auto; }
  .login-text { line-height: 40px; } }
/*# sourceMappingURL=style.css.map */